#homepage{
    background-color: orange;
}
#MagnavoxOdyssey{
    background-color: brown;
}
#SuperFamicom{
    background-color: yellow;
}
#Nintendo64{
    background-color: aqua;
}
#PlayStation2{
    background-color: lightblue;
}
#PlayStation4{
    background-color: yellowgreen;
}
h1{
    text-align: center; font-size: 48px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.homepage{
    font-size: 30px;
}